<div class="pagination-container">
    <div class="pagination-left-arrow " [class.disabled]="!isCurrentPageBiggerThanOne" #paginationLeftArrowDiv id="getPrev" (click)="setPrevNextPage(paginationLeftArrowDiv.id)">
        <svg class="left-arrow" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g [style.opacity]="isCurrentPageBiggerThanOne ? '1' : '0.4'">
            <path d="M13.1511 6.66084L6.8115 13.0005L13.1511 19.3401" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20.5474 6.66084L14.2077 13.0005L20.5474 19.3401" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
        </svg>
    </div>
    <ul *ngIf="totalCount > 0" class="pagination-pages-scroll pagination-page-container">
        <li class="pagination-page active" [class.disabled]="currentPage === currentPage">
            <button class="pagination-page-link" type="button" id="currentPage">{{currentPage}}</button>
        </li>
        <li *ngIf="currentPage !== lastPage" class="pagination-page">
            <button type="button" class="pagination-page-link" #paginationNextPageButton id="nextPage" (click)="setPrevNextPage(paginationNextPageButton.id)">{{nextPage}}</button>
        </li>
        <li *ngIf="currentPage !== lastPage && nextPage !== lastPage" class="pagination-page noClick">
            <button type="button" class="pagination-page-link" id="noClick">...</button>
        </li>
        <li *ngIf="nextPage !== lastPage && currentPage !== lastPage" class="pagination-page">
            <button type="button" class="pagination-page-link" #paginationLastPageButton id="lastPage" (click)="setPrevNextPage(paginationLastPageButton.id)">{{lastPage}}</button>
        </li>        
    </ul>
    <div class="pagination-right-arrow" [class.disabled]="isCurrentPageIsLastPage" #paginationRightArrowDiv id="getNext" (click)="setPrevNextPage(paginationRightArrowDiv.id)">
        <svg class="right-arrow" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g [style.opacity]="isCurrentPageIsLastPage ? '0.4' : '1'">
                <path d="M13.585 19.3392L19.9246 12.9995L13.585 6.65991" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.18872 19.3392L12.5283 12.9995L6.18872 6.65991" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
        </svg>            
    </div>
</div>